html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    overflow: hidden;
}

.padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes fadein {
  from { 
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.image_container {
  padding: 2% 5%;
  height: 50%;
  position: relative;
  z-index: -1;
}

.image_container img {
  border-radius: 10%;
  animation: fadein 5s ease-in normal, float 6s ease-in-out infinite;
}

.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}
.buttons button {
  border: none;
  background: rgba(0,0,0,0.02);
  border-radius: 5px;
  cursor: pointer;
}
.buttons button:hover {
  background: rgba(0,0,0,0.04);
}

.buttons #left {
  position: absolute;
  top: 50%;
  left: 0px;
}
.buttons #right {
  position: absolute;
  top: 50%;
  right: 0px;
}

.buttons #down {
  position: absolute;
  bottom: 0px;
  left: 50%;
}
.buttons #up {
  position: absolute;
  top: 0;
  left: 50%;
}

.left-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: -100%;
  bottom: auto;
  right: auto;
  background: #FD5C5C;
  transition: all 0.7s linear;
}
.left-layer.active {
  left: 100%;
}
.left-layer--2 {
  background: #FE8484;
  transition-delay: 0.3s;
}
.left-layer--3 {
  background: #520000;
  transition-delay: 0.12s;
}

.right-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: 100%;
  bottom: auto;
  right: auto;
  background: #520000;
  transition: all 0.9s linear;
}
.right-layer.active {
  left: -100%;
}
.right-layer--2 {
  background: #BA0001;
  transition-delay: 0.3s;
}
.right-layer--3 {
  background: #fe9191;
  transition-delay: 0.2s;
}


.down-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: auto;
  left: auto;
  bottom: -100%;
  right: auto;
  background: #FD5C5C;
  transition: all 0.7s linear;
}
.down-layer.active {
  bottom: 100%;
}
.down-layer--2 {
  background: #FE8484;
  transition-delay: 0.3s;
}
.down-layer--3 {
  background: #520000;
  transition-delay: 0.12s;
}

.up-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: auto;
  bottom: auto;
  right: auto;
  background: #520000;
  transition: all 0.9s linear;
}
.up-layer.active {
  top: 100%; 
}
.up-layer--2 {
  background: #BA0001;
  transition-delay: 0.3s;
}
.up-layer--3 {
  background: #fe9191;
  transition-delay: 0.2s;
}



@keyframes shift {
  from {
    transform: translate3d(-100px, 0, 0);
  }
  to {
    transform: translate3d(100px, 0, 0);
  }
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: 0px;
  z-index: -1;
}

.wavers>use {
  animation: shift 100s cubic-bezier(0.01, 0.012, 0.075, 0.05) infinite
}

.wavers>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 16s;

}

.wavers>use:nth-child(2) {
  animation-delay: -7s;
  animation-duration: 20s;
}

.wavers>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.wavers>use:nth-child(4) {
  animation-delay: -15s;
  animation-duration: 20s;
}